/* ---- General ---- */

body {
  background-color: rgb(241, 241, 241);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}
/* === My own styles === */

.responsive-image > * {
  display: block;
  max-width: 25rem;
  border-radius: 10%;
  margin-inline: auto;
}

.container {
  max-width: 75rem;
  margin-inline: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.banner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("/image/banner-image.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  min-height: calc(100vh - 83.2px);
}

.banner .overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
}

.banner .banner-content {
  color: white;
  position: relative;
  z-index: 2;
}

.banner-content > * + * {
  margin-top: 1.5rem;
}

.banner picture {
  display: block;
}

.banner-content h2 {
  font-size: 4.5rem;
  margin: 0;
}

.banner-content p {
 font-size: 1.5rem;
 max-width: 40ch;
}


/* ---- Back to top ---- */

#back-to-top > button {
  background-color: rgb(198, 156, 78);
  border-radius: 50%;
  border: solid 1px rgb(198, 156, 78);
  width: 50px;
  height: 50px;
}
#back-to-top:hover > button {
  border: solid 1px rgb(198, 156, 78);
  background-color: white;
}
#back-to-top > button {
  text-decoration: none;
  color: whitesmoke;
}
#back-to-top:hover > button {
  text-decoration: none;
  color: rgb(198, 156, 78);
}

/* ---- Nav --- */

#navbar {
  position: fixed;
  top: 0;
  padding: 2rem 0;
  background-color: rgb(23, 23, 23);
  color: white;
  text-align: center;
  z-index: 999;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 0 4vw;
}

.nav-link:hover {
  color: rgb(219, 191, 63);
  text-decoration: none;
}
button:hover {
  background-color: rgb(219, 191, 63);
  text-decoration: none;
}

/* ---- header ----- */

#top {
  display: flex;
  background-color: rgb(47, 50, 60);
  color: whitesmoke;
  padding: 2rem;
  padding-bottom: 4rem;
  height: 25vh;
}
.header-content {
  padding: 3rem;
}
#header-image {
  border-radius: 10%;
  width: 300px;
  height: 225px;
}

/* ---- Content ----- */

main {
  margin-top: 10rem;
}

.service {
  padding: 2rem;
  display: flex;
  margin: 2rem;
}
.service:nth-child(even) {
  background-color: rgb(46, 67, 112);
  color: whitesmoke;
}
.service h3 {
  padding: 1rem;
  padding-right: 3rem;
}

/* ---- About ----- */

#about {
  margin-top: 4rem;
}

#about-content {
  padding: 0 15vw;
}

#footer {
  margin-top: 4rem;
  background-color: rgb(23, 23, 23);
  color: whitesmoke;
  text-align: center;
  padding: 2rem;
}

form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 1rem;
  max-width: 25rem;
}

form > * {
  display: flex;
  gap: 1rem;
}

form label {
  display: inline-block;
  width: 10rem;
  text-align: end;
}

form button {
  align-self: center;
}
